body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #01091A;
  color: #fff;         
  margin: 0;            
  padding: 0;
    width: 250px; 

}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: stretch;  
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #eee; 
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #CD5700; 
  border-radius: 4px;      
  background-color: #0A1428; 
  color: #fff;          
  margin-bottom: 15px;     
    outline: none; 

}
.input:focus{
    border-color: #FF781F; 
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;      
  border-radius: 4px;    
  background-color: #CD5700;
  color: #fff;         
  cursor: pointer;       
  transition: background-color 0.2s ease; 
    outline: none;
}

.button:hover {
  background-color: #FF781F; 
}
.button:active{
    background-color: #AB4700; 
}
.message {
  color: #32CD32;
  margin-top: 10px;
  font-size: 14px;
  text-align: center; 
    font-weight: bold;

}

.about {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

.about__me {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
}

.popup__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

.popup__title .popup__title--accent {
    color: #CD5700;
}

.exchange-selects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.exchange-select {
  flex: 1; 
  margin-right: 10px; 
}

.exchange-select:last-child {
  margin-right: 0; 
}

.select {
  width: 100%; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #CD5700;
  border-radius: 4px;
  background-color: #0A1428;
  color: #fff;
  appearance: none; 
  outline: none;
  cursor: pointer;
}
.select:focus {
border-color: #FF781F;
}

.exchange-item {
  margin-bottom: 5px; /* Отступ между элементами списка */
}